.card-container {
  height: 90%;
  top: 5%;
  aspect-ratio: 0.71;
  background-color: rgb(70, 70, 70);
  border-radius: 5% / 3.33%;
  position: absolute;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  overflow-y: hidden;
}

button {
  transition: all;
  transition-duration: 0.25s;
  background-color: white;
}

button:hover {
  transition: all;
  transition-duration: 0.25s;
  background-color: rgb(199, 199, 199);
}
